ion-app.app-root page-core-login-credentials {
   
   
        .caja{
        height:100%;
        width:100%;
      }
      
      .gradDynamic{
        position:relative;
      }
      
      .gradDynamic:after, .gradDynamic:before{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        content:"";
        z-index:-1;
      }
      
      .gradDynamic:after{
        background:radial-gradient(circle,red,transparent);
        background-size:400%;
        animation:colorSpin 10s linear infinite;
      }
      
      .gradDynamic:before{
        background-color:rgb(54, 90, 252);
      }
      
      @keyframes colorSpin{
        25%{background-position:0 100%}
        50%{background-position:100% 100%}
        75%{background-position:100% 0}
        100%{filter:hue-rotate(360deg)}
      }
   
   
   


   
   

    img {
        max-width: 100%;
    }

    img.login-logo {
        width: 90%;
        max-width: 300px;
    }

    .box {
        padding: 16px;
        margin: 8px;
        background: $core-login-box-background-color;
        border: 1px solid $core-login-box-background-border;
        color: $core-login-box-text-color;
        border-radius: 10px !important;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }
}
